src
__tests__/*
benchmark/*
coverage/*
node_modules
babel.config.js

.browserslistrc
.eslintignore
.npmignore
.editorconfig
.eslintrc.js
.gitignore

# README.md
babel.config.js
# package.json
yarn.lock
